# plugin.cfg - central configuration file for the LoxBerry plugin.
# INI-style, must be saved in Unix format (line ending: LF).

[AUTHOR]
NAME=Michael Kaufmann
EMAIL=kaufmann-michael@outlook.de

[PLUGIN]
VERSION=1.0.0
NAME=unifing
FOLDER=unifing
TITLE=UniFi Controller NG
WEBSITE=https://wiki.loxberry.de/plugins/unifi_controller_plugin-ng/start

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin-UniFi-Controller-NG/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/blacksun80/LoxBerry-Plugin-UniFi-Controller-NG/master/prerelease.cfg

[SYSTEM]
REBOOT=false
LB_MINIMUM=4.0.0
LB_MAXIMUM=false
ARCHITECTURE=aarch64,x86_64
CUSTOM_LOGLEVELS=false
INTERFACE=2.0
