[AUTOUPDATE]
VERSION=1.1

# Direct download URL of the plugin ZIP archive for this pre-release.
ARCHIVEURL=https://github.com/blacksun80/LoxBerry-Plugin-UniFi-Controller-NG/archive/refs/tags/UniFi-Controller-NG-V1.1.zip

# URL with further information about this pre-release.
INFOURL=https://github.com/blacksun80/LoxBerry-Plugin-UniFi-Controller-NG/releases/tag/UniFi-Controller-NG-V1.1
