[AUTOUPDATE]
VERSION=1.0.0

# Direct download URL of the plugin ZIP archive for this release.
ARCHIVEURL=

# URL with further information about this release.
INFOURL=https://github.com/blacksun80/LoxBerry-Plugin-UniFi-Controller-NG/releases
